!log/.keep
!tmp/.keep
**.orig
*.bowerrc
*.rbc
.bundle
.byebug_history
.byebug_history
.DS_Store
.env
.powenv
.rspec
.rvmrc
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/public/system
/spec/tmp
/tmp
/vendor/assets/bower_components
/vendor/bundle
bower.json
capybara-*.html
config/initializers/secret_token.rb
db/*.sqlite3
db/*.sqlite3-journal
log/*
pickle-email-*.html
rerun.txt
tmp/*
vendor/bundle
