**.orig
*.bowerrc
*.rbc
.byebug_history
.bundle
.DS_Store
.env
.powenv
.rspec
.rvmrc
bower.json
config/initializers/secret_token.rb
coverage/
db/*.sqlite3
db/*.sqlite3-journal
pickle-email-*.html
public/system
rerun.txt
spec/tmp
vendor/assets/bower_components
vendor/bundle
