[Unit]
Description=Unicorn ShiftShark Beta Server
After=network.target

[Service]
Type=forking
User=shifter
WorkingDirectory=/srv/shifter-beta
ExecStart=/usr/bin/unicorn -D -E beta -c config/unicorn.rb

[Install]
WantedBy=multi-user.target