[Unit]
Description=Unicorn ShiftShark Server
After=network.target

[Service]
Type=forking
User=http
WorkingDirectory=/srv/shifter
ExecStart=/usr/bin/unicorn -D -E production -c config/unicorn.rb

[Install]
WantedBy=multi-user.target